attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
click==8.1.7
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==42.0.8
docutils==0.20.1
filelock==3.16.1
h2==4.1.0
HTMLParser==0.0.2
importlib_metadata==8.0.0
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.2
jnius==1.1.0
js==1.0
keyring==25.4.1
mock==5.1.0
Pillow==10.4.0
protobuf==5.28.2
pyodide==0.0.2
pyOpenSSL==24.1.0
pyOpenSSL==24.2.1
railroad==0.5.0
redis==5.0.8
sets==0.3.2
simplejson==3.19.3
Sphinx==8.0.2
thread==2.0.5
tornado==6.4
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.23.0